[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flask-rbac = "==0.2.1"

[dev-packages]
rope = "*"
watchdog = "*"
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
