[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
flasgger = "*"
mysql-connector = "*"
flask-avatars = "*"
authlib = "*"
webargs = "*"

[dev-packages]
rope = "*"
watchdog = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3"
